@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
  
body {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
}
  
.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
  
.sub-wrapper {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.75);
    padding: 5rem;
    box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.4);
    border-radius: 1.5rem;
    height: 80%;
}

img {
    height: 300px;
    width: 300px;
    align-self: flex-start;
    margin-left: 0.5rem;
    margin-right: 6rem;
}
  
.img-wrapper {
    display: flex;
    padding: 5rem;
    height: 100%;
    align-items: center;
}
  
.wrapper-form {
    height: 60%;
    width: 80%;
}

.elements-wrap {
    display: flex;
}
  
h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}
  
input[type="number"]:focus,
  button:focus,
  select:focus {
    outline: none;
}
  
input[type="number"]:focus {
    box-shadow: 10px 10px 5px 0px #3487f4;
    border: 3px solid #3487f4;
}
  
button:focus {
    border: 3px solid black;
}
  
input[type="number"],
button,
select {
    margin: 0.5rem;
}
  
input[type="number"] {
    font-family: "Roboto", sans-serif;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 50%;
    font-size: 2.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
}

button {
    width: 50%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
}
  
button:hover {
    background-color: red;
}
  
select {
    font-family: "Roboto", sans-serif;
    border-radius: 0.5rem;
    width: 50%;
    font-size: 3.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
}
  
p {
    text-align: center;
    border-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
    .img-wrapper {
      display: block;
      padding: 0;
    }
    .sub-wrapper {
      height: 100%;
    }
  
    img {
      height: 150px;
    }
  
    .elements-wrap {
      display: block;
    }
  
    .wrapper-form {
      padding: 2.5rem;
      margin-left: 2.5rem;
      margin-top: 0;
    }
  
    input[type="number"],
    select,
    button {
      width: 100%;
    }
}